.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 15px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
