.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
}

.info {
  display: flex;
  justify-content: center;
}

.text {
}
