.parent {
  display: flex;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 580px;
  margin-right: 580px;
  font-family: "Courier Bold", Rockwell, Courier, Georgia, Times,
    "Times New Roman", serif;
  font-weight: bold;
}

.mission {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: "Courier Bold", Rockwell, Courier, Georgia, Times,
    "Times New Roman", serif;
  font-weight: bold;
}

.welcome {
  font-family: "Courier Bold", Rockwell, Courier, Georgia, Times,
    "Times New Roman", serif;
  font-weight: bold;
}

.title {
  display: flex;
  justify-content: center;
  font-family: "Courier Bold", Rockwell, Courier, Georgia, Times,
    "Times New Roman", serif;
}
