.parent {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier Bold", Rockwell, Courier, Georgia, Times,
    "Times New Roman", serif;
  font-weight: bold;
}

.text {
  font-family: "Courier Bold", Rockwell, Courier, Georgia, Times,
    "Times New Roman", serif;
  font-weight: bold;
}

.title {
  display: flex;
  justify-content: center;
}
